.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    max-width: 1000px;
    margin: 0 auto;
    height: 7%;
    background: #000;
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 24px;
  }
  .logo img {
    width: 2.2rem;
  }