@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Reem+Kufi+Ink&family=Reem+Kufi:wght@400;500;600;700&display=swap");

body {
  font-family: "Oswald", sans-serif;
  font-family: "Reem Kufi", sans-serif;
  font-family: "Reem Kufi Ink", sans-serif;
}



button {
  padding: 5px 15px;
  background: rgb(74, 3, 161);
  height: 40px;
  color: white;
  font-weight: 500px;
  border-radius: 50px;
  border-color: transparent;
}



.div2 {
  padding: 0px;
  max-width: 1000px;
  margin: 0 auto;
  background: #000;
  color: white;

  justify-content: center;

  align-items: center;
  display: flex;
  flex-direction: column;
}

.div2 p {
  font-size: 4rem;
}

.div3 {
  margin: auto;
  padding: 5px 15px;
  max-width: 1000px;
  justify-content: right;
  background: #000;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  gap: 320px;
}

.div2 button {
  color: white;
  background-color: rgb(69, 7, 69);
}

.bgc {
  /* background-color: rgb(85, 108, 100); */
  margin: auto;
  padding: 5px 15px;
  max-width: 1000px;
  background-color: #000;
  color: white;
}

#id1 {
  width: 20rem;
}

#id2 {
  width: 8rem;
}

.div4 {
  /* margin: auto;
  padding: 5px 15px;
  max-width: 1000px;
  background-color: #000; */
  font-size: 0.8rem;
  /* color: aliceblue; */
}

.div4 pre {
  padding-left: 80px;
}

.div5 {
  padding-left: 100px;
  max-width: 20rem;
  background-image: image("Images/bg.jpg");
}